*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#config{
    overflow: hidden;
    display: flex;
    opacity: 1;
    border-radius: 100px;
    align-items: center;
    z-index: 103;
    background-color: rgb(255, 232, 206);
    border: rgb(255, 232, 206) solid .1px;
    justify-content: space-between;
    position: absolute;
    width: 28vh;
    padding-left: 1vh;
    padding: .5vh;
    height: .75vh;
    top: 0;
    right: -26.8vh;
    transition: all 0.5s ease-out;
}

#upeerdiv{
    background-color: rgb(255, 232, 206);
}

#openconfig {
    z-index: 102;
    position: relative;
}

#openconfig:hover #config {
    background-color: rgb(255, 232, 206);
    border: #6d6d6d solid .1px;
    opacity: 1;
    right: -2vh;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#gear {
    transition: transform 0.6s ease-out;
}

#openconfig:hover #gear {
    animation: spin 4s linear infinite;
}


#linguagem{
    margin-left: .5vh;
    width: 15vh;
    display: flex;
    align-items: center;
    gap: 0.5vh;
}
#darkmode{
    width: 5vh;
}

#homeelogin{
    z-index: 999;
    background-color: rgb(255, 232, 206);
    position: fixed;
    width: 100%;
    margin-right: 1vh;
    padding-top: .1vh;
    align-items: center;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#homeelogin a{
    margin: 1vh;
    color: black;
    text-decoration: none;
}

#controls {
    display: flex;
    align-items: center;
    gap: 1vh;
}

#controls div {
    display: flex;
    align-items: center;
}

#controls span {
    padding: 0.5vh;
}

#linguagemslct {
    margin-left: 0.5vh;
}

.balldark{
    background-color: rgb(255, 255, 255);
    transform: translateX(2.25vh);
}

.item{
    margin: .25vh;
    border: 1px rgb(145, 145, 145) solid;
}
.imgitem{
    width: 100%;
}


#buscadiv{
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    list-style: none;
}

#buscadiv input{
    border-radius: 5px;
    border-width: 1px;
    height: 5vh;
    margin: 0.5vh;
    width: 48%;
}

#bottondiv{
    padding-left: .5vh;
    padding-right: .5vh;
    background-color: rgb(255, 232, 206);
    display: grid;
    grid-template-columns: repeat(4, .8fr);
    width: 60%;
    text-align: center;
}
#bottondiv *{
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: 150;
    background-color: rgb(255, 232, 206);
}

.section360{
    border: solid 1px rgb(170, 170, 170);
     width: 40%;
}

#catalog{
    background-color: rgb(255, 232, 206);
    display: flex;
}

#textrecomendacoes{
    background-color: rgb(255, 232, 206);
    font: 1.2em sans-serif;
    padding-top: 2vh;
    padding: 1vh;
}

.container{
    width: 100%;
}

.container img{
    width: 100%;
    -webkit-user-drag: none;
}

@media (max-width: 1500px) {
  #bottondiv { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 980px) {
    .section360{width: 100%;}
    #bottondiv{width: 100%;}
    #catalog {display: block;}
    #buscadiv input{
    border-radius: 5px;
    border-width: 1px;
    height: 3vh;
    margin: 0.5vh;
    width:38%;
}
}
.dark-mode {
    background-color: #1a1a1a;
    color: #2b2a2a;
}

.dark-mode #homeelogin a {
    color: #2b2a2a;
}

.dark-mode #buscadiv {
    background-color: #2d2d2d;
    border-color: #444;
}

.dark-mode #buscadiv input {
    background-color: #2d2d2d;
    color: #2b2a2a;
    border-color: #444;
}

.dark-mode #buscarcarro {
    background-color: #444;
    color: #e0e0e0;
}


.dark-mode .item {
    color: #000000;
    border-color: #444;
}

.dark-mode #add-item-btn {
    background-color: #444;
    color: #e0e0e0;
    border-color: #444;
}

.dark-mode #especificacoes {
    background-color: #2d2d2d;
}

.dark-mode #especificacoes h3 {
    color: #e0e0e0;
}

.dark-mode .spec-item {
    background-color: #1a1a1a;
    border-left-color: #444;
}

.dark-mode .spec-label {
    color: #e0e0e0;
}

.dark-mode .spec-value {
    color: #e0e0e0;
}

.dark-mode .carimg,
.dark-mode .imgitem {
    filter: brightness(0.8);
}

.dark-mode #bottondiv *{
    color: #383838;
    background-color: #c2c1c1;
}


.dark-mode #catalog {
    background-color: #2c2c2c;
}

.dark-mode #bottondiv {
    background-color: rgb(192, 176, 158);
}

.dark-mode #textrecomendacoes {
    background-color: rgb(192, 176, 158);
    color: #666;
    font-size: 1.2em;
}

.dark-mode .spec-item {
    background-color: #1a1a1a;
    border-left-color: rgb(192, 176, 158);
}

#especificacoes {
    height: max-content;
    margin-top: 2vh;
    padding: 1vh;
    background-color: rgb(255, 232, 206);
    border-radius: 8px;
}

#especificacoes h3 {
    margin-bottom: 1vh;
    color: #1b1b1b;
    font-size: 1.3em;
}

.spec-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5vh;
}

.spec-item {
    
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5vh;
    background-color: rgb(255, 232, 206);
    border-radius: 4px;
    border-left: 4px solid rgb(200, 180, 150);
}

.spec-label {
    font-size: 110%;
    color: #000000;
}

.spec-value {
    color: #333;
    text-align: right;
}

@media (max-width: 620px) {
    
    #catalog {display: block;}
}