
#loginPopup #registro,
#loginPopup #login,
#loginPopup #forgot-password {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 50vh;

    border: none;
    border-radius: 0;
    padding: 10px;
    text-align: center; 
    background-color: rgb(255, 232, 206);
}


#loginPopup #baseRegistro,
#loginPopup #baseLogin,
#loginPopup #baseForgotPassword {
    min-height: auto;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}


#loginPopup .input-container input { 
    text-align: left;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: 70%;
    padding: 8px 10px;
    font-size: 16px;
    color: #000000;
    transition: .2s;
    margin-bottom: 10px;
}


#loginPopup .input-container input:hover {
    width: 80%;
    font-size: 17px;
}


#loginPopup #botao, 
#loginPopup #botao-registro, 
#loginPopup #botao-login,
#loginPopup #botao-redefinir {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
    margin-top: 20px;
    transition: .2s;
    border: 2px solid black;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

#loginPopup #botao:hover,
#loginPopup #botao-registro:hover, 
#loginPopup #botao-login:hover,
#loginPopup #botao-redefinir:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

#loginPopup #botao:active,
#loginPopup #botao-registro:active, 
#loginPopup #botao-login:active,
#loginPopup #botao-redefinir:active {
    padding: 10px 30px;
    transform: scale(0.95);
}


#loginPopup label, 
#loginPopup span {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}


#loginPopup #container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginPopup #date1 {
    text-align: center;
}